{{!-- <form id="loginForm" method="POST" action="/api/sessions/login"> --}}
<form id="loginForm">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password" >Contraseña</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
    <a href="/register">Registrate ahora!</a>
    <a href="/api/sessions/github">Ingresa con tu cuenta GitHub</a>
</form>

<script src="/login.js"></script>