<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title>
    
</head>
<body>
    <div>
        {{!-- <h1>Formulario de productos</h1>
        <form action="/api/products" method ="post">
        <label for="nombreProducto">Nombre del producto</label>
        <input type="text" id="nombreProducto" name ="title" required>
        <label for="descrip">Descripción</label>
        <input type="text" id="descrip" name = "description" required>
        <label for="codeP">Code</label>
        <input type="number" id = "codeP" name="code" required>
        <label for="priceP">Precio</label>
        <input type="number" id = "priceP" name="price" required>
        <label for="stockP">Stock</label>
        <input type="number" id = "stockP" name="stock" required>
        <label for="categP">Categoría</label>
        <input type="text" id = "categP" name="category" required>
        <label for="thumbP">thumbnails</label>
        <input type="text" id = "thumbP" name="thumbnails" required>
        <button type="submit">Agregar producto</button>
        </form> --}}


        <h1>Lista de productos en tiempo real</h1>
        <div id="productos-container">
            
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    {{!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> --}}
    <script src="/realtimeproducts.router.js"></script>
</body>
</html>